@model JobShare.Models.Job

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyPayBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyPayBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyPayMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyPayMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryMax)
        </dd>
    </dl>
</div>
<div class="py-2">
    <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
    <script type="IN/Share" data-url="https://www.atlassian.com/git/tutorials/saving-changes/gitignore"></script>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
 
</div>
